<!-- views/partials/header.ejs -->
<header
    style="background:#05b3a4; padding:1rem; color:white; display:flex; justify-content:space-between; align-items:center;">
    <h1 style="margin:0; font-size:1.5rem;">Modern Library</h1>
    <nav>
        <a href="/shop/books" style="color:white; text-decoration:none; margin-left:1rem; font-weight:bold;">All
            Books</a>
        <a href="/admin/addbook" style="color:white; text-decoration:none; margin-left:1rem; font-weight:bold;">Add
            Book</a>
    </nav>
</header>